body{
  background-color: lightblue;
  display: flex;
  height: 98%;
}

.gameboard {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gameboard_top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gameboard_bottom {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  margin: 50px;
}

.field {
  background-color: white;
  border: solid 1px gray;
  border-radius: 7px;
}